APP_ENV=development

DATABASE_URL=
ASYNC_DATABASE_URL=

BOT_TOKEN=
WEBHOOK_SECRET=
WEBHOOK_URL=

REPORT_CHANNEL_ID=2
REPORT_TARGET_CHAT_ID=48140795

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_PHONE=

MTPROTO_SESSION_NAME=
MTPROTO_TARGET_CHANNEL=

MTPROTO_PROXY_HOST=192.168.26.50
MTPROTO_PROXY_PORT=11902
MTPROTO_PROXY_TYPE=socks5

POST_STATS_CHANNEL_ID=2
POST_STATS_LIMIT=10
